node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

.env
.env.*
!.env.example

.git
.gitignore

backend.stdout.log
backend.stderr.log
logs
*.log

coverage
.nyc_output
.cache
dist
build

Dockerfile
.dockerignore
